# Python
__pycache__/
*.py[cod]
.venv/
.env

# Node
node_modules/
dist/
.npmrc

# OS/IDE
.DS_Store
.vscode/
.idea/

# Data
*.db
*.sqlite*
*.log
*.bak
*.dump

# Large
*.pdf
*.png
*.jpg
*.csv

mysql_data/
